body {
	left:				0;
	top:				0;
	margin:				0;
	padding:			0;
	border:				0;
	width:				100%;
	font-family:		Arial, sans-serif;
	font-size:			12pt;
}
	
.logo
{
   width:				0px;
   height:				0px;
   border:				0;
   visibility:			hidden;
}

.noprinting
{
	width:				0px;
	height:				0px;
	border:				0;
	visibility:			hidden;
}

a {
	color:				#000000;
	text-decoration:	none;
}

h1 {
	font-weight:		bold;
	font-size:			12pt;
}

h2 {
	font-weight:		bold;
	font-size:			12pt;
}

h3 {
	font-weight:		bold;
	font-size:			12pt;
}

h4 {
	font-weight:		bold;
	font-size:			12pt;
}

input {
	visibility:			hidden;
}

table {
	margin:				0;
	padding:			0;
}

thead {
	margin:				0;
	padding:			0;
}

th {
	font-weight:		bold;
	font-size:			12pt;
}

td {
	font-weight:		normal;
	font-size:			12pt;
}