*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@import "foundation";

$deleted-color: red;

body {
	font-size: 100%;
}

nav {

}

.fullWidth {
	max-width: 100%;
}

.asRow {
	width: 100%;
	margin: 0 auto;
}

.asCol {

}

.leftColumn {
	width: 95%;

	form {
		width: 100%;
	}
}

.rightColumn {
	width: 95%;

	margin-top: 1rem;

	form {
		width: 100%;
	}
}

.calendarRow {
	max-width: 100%;
}

.calendarDay {
	border-width: 1px;
	border-color: grey;
	border-style: solid;
	
	font-size: 70%;
}

#requestHistory .panel {
	background: 0;
	padding-left: .5rem;
	padding-top: .5rem;

	table {
		margin-bottom: 0;
	}

	th {
		text-align: center;
		font-size: 80%;
	}

	td {
		text-align: center;
		font-size: 80%;
		padding: 0;
	}
}

#header {
	width: 95%;
	margin: 0;
}

#body {
	width: 98%;
	margin-top: 1rem;
}

#request {
	margin-bottom: 2rem;
}

#requestHistory {
}

#reqInstructions {
	margin-left: 1em;
}

@media (min-width: 800px) {
	.leftColumn {
		width: 48%;
		float: left;
		padding-left: 1rem;
	
		form {
			width: 100%;
		}
	}

	.rightColumn {
		width: 48%;
		float: right;
		padding-right: 1rem;
	
		margin-top: 1rem;
	
		form {
			width: 100%;
		}
	}

	#requestHistory .panel {
		background: $panel-bg;
		padding-left: $panel-padding;
	
		table {
			margin-bottom: $table-margin-bottom;
		}
	}
}

.flexbox {
	nav {
		flex: auto;
	}
	
	.asRow {
		display: flex;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
	
		flex-direction: row;
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
	
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		
		justify-content: flex-start;
		-webkit-justify-content: -webkit-flex-start;
		-moz-justify-content: -moz-flex-start;
		-ms-justify-content: -ms-flex-start;
	
		align-content: flex-start;
		-webkit-align-content: -webkit-flex-start;
		-moz-align-content: -moz-flex-start;
		-ms-align-content: -ms-flex-start;
	
		align-items: flex-start;
		-webkit-align-items: -webkit-flex-start;
		-moz-align-items: -moz-flex-start;
		-ms-align-items: -ms-flex-start;
	}

	.asCol {
		display: flex;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;

		flex-direction: column;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;

		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
	
		justify-content: flex-start;
		-moz-justify-content: -moz-flex-start;
		-ms-justify-content: -ms-flex-start;
	
		align-content: flex-start;
		-moz-align-content: -moz-flex-start;
		-ms-align-content: -ms-flex-start;
	
		align-items: flex-start;
		-moz-align-items: -moz-flex-start;
		-ms-align-items: -ms-flex-start;
	}

	.leftColumn {
		width: 95%;
	
		form {
			width: 100%;
		}
	}

	.rightColumn {
		width: 95%;
	
		margin-top: 1rem;
	
		form {
			width: 100%;
		}
	}

	#requestHistory .panel {
		background: 0;
		padding-left: .5rem;
		padding-top: .5rem;
	
		table {
			margin-bottom: 0;
		}
	
		th {
			text-align: center;
			font-size: 80%;
		}
	
		td {
			text-align: center;
			font-size: 80%;
			padding: 0;
		}
	}

	@media (min-width: 800px) {
		.leftColumn {
			width: 45%;
			margin-top: 0;
		
			display: flex;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
	
			flex-direction: row;
			-webkit-flex-direction: row;
			-moz-flex-direction: row;
	
			flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
			-moz-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
	
			justify-content: flex-start;
			-webkit-justify-content: -webkit-flex-start;
			-moz-justify-content: -moz-flex-start;
			-ms-justify-content: -ms-flex-start;
	
			align-content: flex-start;
			-webkit-align-content: -webkit-flex-start;
			-moz-align-content: -moz-flex-start;
			-ms-align-content: -ms-flex-start;
	
			align-items: flex-start;
			-webkit-align-items: -webkit-flex-start;
			-moz-align-items: -moz-flex-start;
			-ms-align-items: -ms-flex-start;
		}
	
		.rightColumn {
			width: 45%;
			margin-top: 0;

			display: flex;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
	
			flex-direction: row;
			-webkit-flex-direction: row;
			-moz-flex-direction: row;
	
			flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
			-moz-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
	
			justify-content: flex-start;
			-webkit-justify-content: -webkit-flex-start;
			-moz-justify-content: -moz-flex-start;
			-ms-justify-content: -ms-flex-start;
	
			align-content: flex-start;
			-webkit-align-content: -webkit-flex-start;
			-moz-align-content: -moz-flex-start;
			-ms-align-content: -ms-flex-start;
	
			align-items: flex-start;
			-webkit-align-items: -webkit-flex-start;
			-moz-align-items: -moz-flex-start;
			-ms-align-items: -ms-flex-start;
		}

		#requestHistory .panel {
			background: $panel-bg;
			padding-left: $panel-padding;
		
			table {
				margin-bottom: $table-margin-bottom;
			}
		}
	}

	#header {
		width: 100%;
	}
	
	#body {
		width: 98%;
		margin-top: 1rem;
		margin-left: 1rem;
	}
	
	#request {
		margin-bottom: 2rem;
	}
	
	#requestHistory {
	}
	
	#reqInstructions {
		margin-left: 1em;
	}
}

.logo {
   height: $topbar-height;
   border: none;
}

.print_only {
	display:	none;
}

.borderless {
	border:				none;
}

.pending {
	background-color:	#cccccc;
}

.dirty {
	font-style:			italic;
	background-color:	#ccffff;
}

.blue {
	color: 				blue;
}

.blueBackground {
	background-color:	#CCCCFF;
}

.red {
	color: 				red;
}

.yellow {
	color: 				#FF9933;
}

.bolder {
	font-weight: 		bold;
}

.dijitCell {
	margin-bottom: 1rem;
}

.informationCell {
	width: 100%;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	#position: relative; 
	#top: -50%;
	background-color: #99CCFF;
}

.closeButton {
	display: none;
}