@CHARSET "UTF-8";

body:before {
	position: absolute;
	top: $topbar-height;
	right: 0;
	padding: 0.5em;
	color: white;
	font-size: 200%;
}

@media (max-width:300px) {
	body:before {
		content: "< 300px";
		background-color: red;
	}
	
	body {
		font-size: 150%;
	}
}

@media (min-width:300px) and (max-width:400px) {
	body:before {
		content: "300px - 400px";
		background-color: orange;
	}
	
	body {
		font-size: 140%;
	}
}

@media (min-width:400px) and (max-width:500px) {
	body:before {
		content: "400px - 500px";
		background-color: yellow;
	}
	
	body {
		font-size: 130%;
	}
}

@media (min-width:500px) and (max-width:600px) {
	body:before {
		content: "500px - 600px";
		background-color: green;
	}
	
	body {
		font-size: 120%;
	}
}

@media (min-width:600px) and (max-width:700px) {
	body:before {
		content: "600px - 700px";
		background-color: blue;
	}
	
	body {
		font-size: 110%;
	}	
}

@media (min-width:700px) {
	body:before {
		content: "700px +";
		background-color: purple;
	}
	
	body {
		font-size: 100%;
	}
}